@font-face { 
  font-family: 'AbyssinicaSIL-R'; 
  src: url('font/AbyssinicaSIL-R.eot');                                    /* IE9 Compat Modes */ 
  src: url('font/AbyssinicaSIL-R.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
       url('font/AbyssinicaSIL-R.woff') format('woff'),                    /* Новые браузеры и IE9+ */ 
       url('font/AbyssinicaSIL-R.ttf')  format('truetype'),                /* Старые Safari, Android, iOS */ 
       url('font/AbyssinicaSIL-R.svg#svgAbyssinicaSIL-R') format('svg');          /* Древние Safari, iOS, Android */ 
  font-weight: normal; 
  font-style: normal; 
}