@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'AbyssinicaSIL-R';
  src: url("font/AbyssinicaSIL-R.eot");
  /* IE9 Compat Modes */
  src: url("font/AbyssinicaSIL-R.eot?#iefix") format("embedded-opentype"), url("font/AbyssinicaSIL-R.woff") format("woff"), url("font/AbyssinicaSIL-R.ttf") format("truetype"), url("font/AbyssinicaSIL-R.svg#svgAbyssinicaSIL-R") format("svg");
  /* Древние Safari, iOS, Android */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AbyssinicaSIL-R";
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body.lock {
  overflow: hidden;
}

.header {
  /*============== Burger ========================*/
  position: relative;
  /*============== Burger ========================*/
  /*============== Menu Media ========================*/
  /*============== Menu Media ========================*/
}

.header .header__burger {
  position: relative;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
  z-index: 50;
}

.header .header__burger .burger-open {
  position: relative;
  font-size: 12px;
  display: block;
  margin: 5px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header .header__burger .burger-open:active {
  cursor: progress;
}

.header .header__burger .burger-open::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #fff;
  bottom: 5px;
}

.header .header__burger .burger-open::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #fff;
  bottom: 5px;
  right: 0;
}

.header .header__burger .burger-close {
  display: none;
}

.header .header__burger::before, .header .header__burger::after {
  content: "";
  display: block;
  width: 55px;
  height: 2px;
  margin: 5px 5px;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header .header__burger.active .burger-open {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.header .header__burger.active .burger-close {
  display: block;
  position: relative;
}

.header .header__burger.active::before, .header .header__burger.active::after {
  position: absolute;
  display: block;
  margin: 0px 0px;
  top: 15px;
  right: 15px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  width: 35px;
}

.header .header__burger.active::before {
  background-color: #bea67c;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .header__burger.active::after {
  content: "";
  background-color: #bea67c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 787px) {
  .header .header__burger {
    display: none;
  }
}

.header .header__nav-media {
  display: none;
  opacity: 0;
}

.header .header__nav-media.active {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0f0f0f;
  background-color: rgba(0, 0, 0, 0.932);
  z-index: 5;
  opacity: 1;
  overflow: auto;
}

.header .header__nav-media.active .ul-nav {
  margin-top: 100px;
}

.header .header__nav-media.active .ul-nav .li-nav {
  text-align: center;
  padding: 20px;
}

.header .header__nav-media.active .ul-nav .li-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.header .header__nav-media.active .ul-nav .active a {
  color: #bea67c;
  border-bottom: 1px solid #bea67c;
}

.header .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 60px;
}

.header .header__navbar .header__logo {
  text-transform: uppercase;
  white-space: nowrap;
  color: #ffffff;
}

@media (max-width: 767px) {
  .header .header__navbar .header__logo {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__navbar .header__logo {
    font-size: calc(20px + 20 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__navbar .header__logo {
    letter-spacing: calc(1px + 13.6 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__navbar .header__logo {
    letter-spacing: calc(1px + 8 * (100vw / 1190));
  }
}

.header .header__navbar .header__logo::after {
  content: "GROUPE";
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 767px) {
  .header .header__navbar .header__logo::after {
    font-size: calc(7px + 11.9 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__navbar .header__logo::after {
    font-size: calc(7px + 7 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__navbar .header__logo::after {
    letter-spacing: calc(1px + 3.4 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__navbar .header__logo::after {
    letter-spacing: calc(1px + 2 * (100vw / 1190));
  }
}

.header .header__navbar .header__logo a {
  text-decoration: none;
  color: #ffffff;
}

.header .header__navbar .header__logo a span {
  display: inline-block;
  color: #ffffff;
}

.header .header__navbar .header__nav .ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__navbar .header__nav .ul-nav .li-nav {
  padding: 15px;
}

.header .header__navbar .header__nav .ul-nav .li-nav a {
  display: block;
  color: #ffffff;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

@media (max-width: 767px) {
  .header .header__navbar .header__nav .ul-nav .li-nav a {
    font-size: calc(8px + 10.2 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__navbar .header__nav .ul-nav .li-nav a {
    font-size: calc(8px + 6 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__navbar .header__nav .ul-nav .li-nav a {
    letter-spacing: calc(1px + 3.4 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__navbar .header__nav .ul-nav .li-nav a {
    letter-spacing: calc(1px + 2 * (100vw / 1190));
  }
}

.header .header__navbar .header__nav .ul-nav .li-nav a:hover {
  color: #bea67c;
  border-bottom: 1px solid #bea67c;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header__navbar .header__nav .ul-nav .active a {
  color: #bea67c;
  border-bottom: 1px solid #bea67c;
}

.header .header__body-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #bea67c;
}

.header .header__body-title .title-row {
  max-width: 1190px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.header .header__body-title .title-row h1 {
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .header .header__body-title .title-row h1 {
    font-size: calc(20px + 56.1 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row h1 {
    font-size: calc(20px + 33 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__body-title .title-row h1 {
    letter-spacing: calc(1px + 28.9 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row h1 {
    letter-spacing: calc(1px + 17 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__body-title .title-row h1 {
    line-height: calc(70px + 49.3 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row h1 {
    line-height: calc(70px + 29 * (100vw / 1190));
  }
}

.header .header__body-title .title-row h2 {
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
}

@media (max-width: 767px) {
  .header .header__body-title .title-row h2 {
    font-size: calc(7px + 20.4 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row h2 {
    font-size: calc(7px + 12 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__body-title .title-row h2 {
    letter-spacing: calc(1px + 8.5 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row h2 {
    letter-spacing: calc(1px + 5 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__body-title .title-row h2 {
    line-height: calc(30px + 117.3 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row h2 {
    line-height: calc(30px + 69 * (100vw / 1190));
  }
}

.header .header__body-title .title-row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  padding: 0;
  width: 100%;
}

.header .header__body-title .title-row ul li {
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
}

@media (max-width: 767px) {
  .header .header__body-title .title-row ul li {
    font-size: calc(7px + 8.5 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row ul li {
    font-size: calc(7px + 5 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__body-title .title-row ul li {
    letter-spacing: calc(1px + 1.7 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row ul li {
    letter-spacing: calc(1px + 1 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .header .header__body-title .title-row ul li {
    line-height: calc(5px + 127.5 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .header .header__body-title .title-row ul li {
    line-height: calc(5px + 75 * (100vw / 1190));
  }
}

.header .header__body-title .title-row ul li i {
  margin-right: 5px;
  color: #bea67c;
}

/*=============================Slider=========================================*/
.slider {
  position: relative;
}

.slider li {
  margin: 20px;
}

.slider li:first-child {
  margin-left: 100px;
}

.slider li:last-child {
  margin-right: 100px;
}

.slider__item {
  position: relative;
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider__item img {
  width: 100%;
  height: 80vh;
}

.slider .slick-arrow {
  font-size: 0;
  display: none !important;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.slick-dots::before {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 0;
  z-index: 21;
  background-color: #bea67c;
}

.slick-dots::after {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  top: 55%;
  right: 0;
  z-index: 21;
  background-color: #bea67c;
}

.slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: none;
  background-color: #303030;
  cursor: pointer;
}

.slider .slick-dots .slick-active button {
  background-color: #bea67c !important;
}

/*=============================Slider=========================================*/
.content {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.content .greeting {
  background-image: url("ttps://ld-wp73.template-help.com/wordpress/prod_17879/v1/wp-content/uploads/2018/05/legalor-bg1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.content .greeting .greeting__row {
  max-width: 1190px;
  margin: 0 auto;
  padding: 20px 20px;
}

.content .greeting .greeting__row .greeting-info h2 {
  text-align: center;
  width: 100%;
  color: #010101;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .greeting-info h2 {
    font-size: calc(20px + 42.5 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .greeting-info h2 {
    font-size: calc(20px + 25 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .greeting-info h2 {
    letter-spacing: calc(1px + 4.012 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .greeting-info h2 {
    letter-spacing: calc(1px + 2.36 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .greeting-info h2 {
    line-height: calc(50px + 85 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .greeting-info h2 {
    line-height: calc(50px + 50 * (100vw / 1190));
  }
}

.content .greeting .greeting__row .greeting-info p {
  text-align: center;
  width: 100%;
  color: #010101;
  padding: 10px 10px;
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .greeting-info p {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .greeting-info p {
    font-size: calc(12px + 4 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .greeting-info p {
    letter-spacing: calc(1px + 1.7 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .greeting-info p {
    letter-spacing: calc(1px + 1 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .greeting-info p {
    line-height: calc(15px + 17 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .greeting-info p {
    line-height: calc(15px + 10 * (100vw / 1190));
  }
}

.content .greeting .greeting__row .brends__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .greeting .greeting__row .brends__row .brends__item {
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  white-space: nowrap;
  margin: 5px;
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    font-size: calc(9px + 11.9 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    font-size: calc(9px + 7 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    letter-spacing: calc(1px + 1.7 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    letter-spacing: calc(1px + 1 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    line-height: calc(20px + 8.5 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    line-height: calc(20px + 5 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    padding: calc(5px + 5.1 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .greeting .greeting__row .brends__row .brends__item {
    padding: calc(5px + 3 * (100vw / 1190));
  }
}

.content .aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1190px;
  margin: 0 auto 50px auto;
  padding: 0px 20px;
}

.content .aboutUs .aboutUs__row {
  position: relative;
  background-image: url("images/aboutus_foto.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  height: 70vh;
}

.content .aboutUs .aboutUs__row .aboutUs-info {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 70%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#b2a895));
  background-image: linear-gradient(360deg, #ffffff 0%, #b2a895 100%);
  background-color: rgba(255, 255, 255, 0.623);
  background-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#b2a8959f));
  background-image: linear-gradient(360deg, #ffffff 0%, #b2a8959f 100%);
  padding: 20px;
}

@media (max-width: 1190px) {
  .content .aboutUs .aboutUs__row .aboutUs-info {
    width: 80%;
    padding: 20px;
  }
}

@media (max-width: 860px) {
  .content .aboutUs .aboutUs__row .aboutUs-info {
    width: 95%;
    padding: 10px;
  }
}

.content .aboutUs .aboutUs__row .aboutUs-info h2 {
  text-align: center;
  width: 100%;
  color: #010101;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info h2 {
    font-size: calc(14px + 52.7 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info h2 {
    font-size: calc(14px + 31 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info h2 {
    letter-spacing: calc(1px + 4.012 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info h2 {
    letter-spacing: calc(1px + 2.36 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info h2 {
    line-height: calc(3px + 164.9 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info h2 {
    line-height: calc(3px + 97 * (100vw / 1190));
  }
}

.content .aboutUs .aboutUs__row .aboutUs-info p {
  text-align: center;
  width: 100%;
  color: #010101;
}

@media (max-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info p {
    font-size: calc(9px + 11.9 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info p {
    font-size: calc(9px + 7 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info p {
    letter-spacing: calc(1px + 1.7 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info p {
    letter-spacing: calc(1px + 1 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info p {
    line-height: calc(20px + 8.5 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .aboutUs .aboutUs__row .aboutUs-info p {
    line-height: calc(20px + 5 * (100vw / 1190));
  }
}

.content .cataloge {
  background-image: url("ttps://ld-wp73.template-help.com/wordpress/prod_17879/v1/wp-content/uploads/2018/05/legalor-bg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .cataloge .cataloge__row {
  max-width: 1190px;
  margin: 0 auto;
  padding: 20px 0px;
}

.content .cataloge .cataloge__row .cataloge-info h2 {
  text-align: center;
  width: 100%;
  color: #222;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info h2 {
    font-size: calc(14px + 52.7 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info h2 {
    font-size: calc(14px + 31 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info h2 {
    letter-spacing: calc(1px + 4.012 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info h2 {
    letter-spacing: calc(1px + 2.36 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info h2 {
    line-height: calc(3px + 164.9 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info h2 {
    line-height: calc(3px + 97 * (100vw / 1190));
  }
}

.content .cataloge .cataloge__row .cataloge-info p {
  text-align: justify;
  padding: 20px;
  color: #222;
  display: block;
  border-radius: 5px;
  -webkit-box-shadow: rgba(32, 32, 32, 0.16) 0 2px 8px;
          box-shadow: rgba(32, 32, 32, 0.16) 0 2px 8px;
}

@media (max-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info p {
    font-size: calc(9px + 11.9 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info p {
    font-size: calc(9px + 7 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info p {
    letter-spacing: calc(1px + 1.7 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info p {
    letter-spacing: calc(1px + 1 * (100vw / 1190));
  }
}

@media (max-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info p {
    line-height: calc(20px + 8.5 * ((100vw - 320px) / 1190));
  }
}

@media (min-width: 767px) {
  .content .cataloge .cataloge__row .cataloge-info p {
    line-height: calc(20px + 5 * (100vw / 1190));
  }
}

.content .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.content .row-1 .content__column {
  width: 50%;
  height: 400px;
}

.content .row-1 .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.content .row-1 .text .column-titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #010101;
  font-size: 48px;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 3.36px;
}

.content .row-1 .text .column-titel::before {
  content: "";
  display: block;
  width: 151px;
  height: 1px;
  background-color: #000;
  margin-right: 30px;
}

.content .row-1 .text .column-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #464646;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.38px;
  margin-bottom: 28px;
}

.content .row-1 .text .column-text span {
  width: 341px;
}

.content .row-1 .text .column-text::before {
  content: "";
  display: block;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  margin: 10px 30px 0 100px;
}

.content .row-1 .text .column-button {
  text-align: center;
  position: relative;
}

.content .row-1 .text .column-button a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  line-height: 20px;
  padding-right: 20px;
}

.content .row-1 .text .column-button a::after {
  content: "";
  display: block;
  width: 44px;
  height: 2px;
  background-color: #bea67c;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .row-1 .text .column-button a:hover::after {
  width: 125px;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .row-1 .text .column-button i {
  color: #bea67c;
}

.content .row-1 .text .column-nummer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.content .row-1 .text .column-nummer span {
  color: #bea67c;
  display: block;
}

.content .row-1 .foto {
  background-image: url("images/img_content/upcycled-furniture-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
}

.content .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.content .row-2 .content__column {
  width: 50%;
  height: 400px;
}

.content .row-2 .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.content .row-2 .text .column-titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #010101;
  font-size: 48px;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 3.36px;
}

.content .row-2 .text .column-titel::before {
  content: "";
  display: block;
  width: 151px;
  height: 1px;
  background-color: #000;
  margin-left: 30px;
}

.content .row-2 .text .column-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #464646;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.38px;
  margin-bottom: 28px;
}

.content .row-2 .text .column-text span {
  width: 341px;
}

.content .row-2 .text .column-text::before {
  content: "";
  display: block;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  margin: 10px 100px 0 30px;
}

.content .row-2 .text .column-button {
  text-align: center;
  position: relative;
}

.content .row-2 .text .column-button a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  line-height: 20px;
  padding-right: 20px;
}

.content .row-2 .text .column-button a::after {
  content: "";
  display: block;
  width: 44px;
  height: 2px;
  background-color: #bea67c;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .row-2 .text .column-button a:hover::after {
  width: 110px;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .row-2 .text .column-button i {
  color: #bea67c;
}

.content .row-2 .text .column-nummer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.content .row-2 .text .column-nummer span {
  color: #bea67c;
  display: block;
}

.content .row-2 .foto {
  background-image: url("images/img_content/12.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
}

.content .border-right {
  max-width: 1170px;
  margin: 20px auto;
  border-right: 4px solid #a9946e;
  height: 51px;
}

.content .border-left {
  border-left: 4px solid #a9946e;
  max-width: 1170px;
  margin: auto;
  border-left: 4px solid #a9946e;
  padding-left: 40px;
}

@media (max-width: 1190px) {
  .content .border-right {
    display: none;
  }
  .content .border-left {
    display: none;
  }
}

.footer {
  background-image: url("images/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.footer .footer-mask {
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0.85)));
  background-image: linear-gradient(360deg, black 0%, rgba(0, 0, 0, 0.85) 100%);
}

.footer .footer-mask .footer__content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 5px;
}

.footer .footer-mask .footer__content .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-mask .footer__content .footer__info .footer-contact {
  width: 40%;
  padding: 120px 10px;
  color: rgba(255, 255, 255, 0.527);
}

.footer .footer-mask .footer__content .footer__info .footer-contact span {
  display: block;
  padding: 15px;
}

.footer .footer-mask .footer__content .footer__info .contact-mail {
  width: 60%;
  padding: 120px 10px;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgba(255, 255, 255, 0.527);
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .block-theme {
  width: 40%;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .block-messege {
  width: 40%;
  text-align: center;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .block-messege #message {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .field-block {
  padding: 5px;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .field-block .field {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.103);
  border: none;
  color: rgba(255, 255, 255, 0.527);
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .field-block .field:focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .field-block-text {
  display: none;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm p {
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.164);
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm p a {
  color: #a9946e;
  text-decoration: none;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .mail-button .button {
  background-color: rgba(0, 0, 0, 0.103);
  border: 1px solid rgba(255, 255, 255, 0.164);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.527);
  cursor: pointer;
}

.footer .footer-mask .footer__content .footer__info .contact-mail #contactForm .mail-button .button .btn {
  display: inline-block;
  padding: 15px;
}

.footer .footer-mask .footer__content .copyright {
  color: #464646;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.footer .footer-mask .footer__content .copyright a {
  text-decoration: none;
  color: #464646;
}

.footer .footer-mask .footer__content .footer__logo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid #464646;
  padding: 3px;
}

.footer .footer-mask .footer__content .footer__logo::after {
  content: "GROUPE";
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
}

.footer .footer-mask .footer__content .footer__logo a {
  text-decoration: none;
  color: #ffffff;
}

.footer .footer-mask .footer__content .footer__logo a span {
  display: inline-block;
  color: #ffffff;
}
